/* #region general  */
img { 
    max-width: 100%;
}

/* #region header */
#app_header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
}

/* #Endregion header */

/* #endRegion general  */
